<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title><%= documentTitle %></title>

  <link rel='stylesheet' type='text/css' href='../../static/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='../../static/styles/style.css'>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />



</head>
<body>

<nav class='navBar'>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/animals'>Browse</a></li>
    <li><a href="/animals/Add">Add an Animal</a></li>
  </ul>
</nav>

<div class="container">
  <a href="/">
    
  </a>
