<% include ../partials/boilerplate %>

<form class="addAnimalsForm" method='POST' action='/animals/<%= id %>?_method=PUT'>

  <h2>Edit your Animal</h2>
  <div class="form-group">
    <label>Animal Type:</label>
    <input name='animal_type' type='text' value='<%= animals.animal_type %>' />
  </div>

 <div class="form-group">
    <label>Enter a new image URL:</label> 
    <input name='animal_pic_url' type='text' value='<%= animals.animal_pic_url %>' />
  </div>
  <div class="form-group">
    <label>Add a story:</label> <br/>
    <input type="text" name="story" /> <br>
  </div>
  <div class="form-group">
    <button class="btn waves-effect waves-light center">
      <input class="animalsFormSubmit" type='submit' value='Edit your Animal!' />
    </button>
  </div>
</form>
<% include ../partials/end %>

