<% include ./partials/boilerplate %>


<% if (showMore === true) { %>
<div class='more'>
  <div class='divOne'>
    <a class='browseAnimalsLink'href='/animals'>Browse</a> <br>
  </div>
  <div class='divTwo'>
    <a class='addAnimalsLink'href='/animals/Add'>Add a Animal!</a>
  </div>
</div>
<% } %>


<% include ./partials/end %>